[Desktop Entry]
Name=Snap Translation Status
Comment=View snap package translation status
Exec=snap-l10n
Icon=snap-l10n
Terminal=false
Type=Application
Categories=Development;GTK;
