[Desktop Entry]
Name=Snap Translation Status
Name[sv]=Snap översättningsstatus
Comment=View snap package translation status
Comment[sv]=Visa översättningsstatus för snap-paket
Exec=snap-l10n
Icon=snap-l10n
Terminal=false
Type=Application
Categories=Development;GTK;
